.home-logo {
  position: fixed;
  top: 80px;
  right: 60px;
  z-index: 1000;
}

.home-logo img {
  width: 80px !important;
  transition: 0.25s;
  cursor: pointer;
}

.home-logo img:hover {
  transform: scale(1.08);
  filter: brightness(1.2);
}

.home-logo img:active {
  transform: scale(0.92);
}
